{% extends 'DkaQueueBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				Welcome to the Q
			</div>
		</div>
	</div>
{% endblock %}